
.benefit {
  @include contrast-color();
  color: #ffffff;
  margin-top: -10px;
}
.benefit__triangle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: top;
}
.benefit__wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  text-align: center;
  width: 300px;

}
.benefit__headline {
  padding-top: 58px;
  padding-bottom: 6px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}
.benefit__headline--trivial {
  margin-top: 7px;
  padding-top: 11px;

}
.benefit__description {
  text-transform: uppercase;
  line-height: 21px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
}
.benefit__image--first  {
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: -8px;
  min-width: 320px;
  min-height: 260px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/main-city-mobile@2x.jpg");
    background-size: 640px auto;
  }
}
.benefit__image--second {
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: -8px;
  min-width: 280px;
  min-height: 280px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/photo-bridge-mobile@2x.jpg");
    background-size: 560px auto;
  }
}

.benefit__image{
  width: 100%;
  height: 100%;
}
.recommendations__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 33px;
}
.recommendations__wrapper {
  margin-top: 8px;
  display: flex;
justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.recommendations__block {
  padding-left: 10px;
  text-transform: uppercase;
}
.recommendations__headline {
  font-size: 18px;
  line-height: 26px;
}
.recommendations__description {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
  max-width: 215px;
}
.recommendations__color {
  fill: #81b3d2;
  width: 40px;
  height: 40px;
}
.benefits__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @include light-color();
}
.benefits__wrapper--list {
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 1px solid #d6d6d6;

}
.benefits__wrapper--list:first-child {
  border-top: none;
}
.benefits__wrapper--list .benefits__headline {
  font-size: 18px;
  margin-bottom: 6px;
}
.benefits__wrapper--list .benefits__description {
  margin-top: 13px;
  line-height: 21px;
  max-width: 245px;
  margin-left: auto;
  margin-right: auto;
}
@media  (min-width: 768px) {
  .benefit__triangle {
    background-image: none;
  }
  .benefit {
    display: flex;

  }
  .benefit__headline {
    padding-left: 25px;
    padding-right: 25px;
  }
  .benefit__image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
  }
  .benefit__image--first  {
    background-image: url("../img/main-city-tablet@1x.jpg");
    min-width: 512px;
    min-height: 276px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-city-tablet@2x.jpg");
      background-size: 1024px auto;
    }
  }
  .benefit__image--second {
    background-image: url("../img/photo-bridge-tablet@1x.jpg");
    min-width: 324px;
    min-height: 267px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/photo-bridge-tablet@2x.jpg");
      background-size: 648px auto;
    }
  }
  .benefit__wrapper--first {
  padding-top: 0;
  }
  .benefit__wrapper--second {
    padding-top: 40px;
    order: 2;
  }
  .recommendations__list {
    display: flex;
    padding: 0;
  }
  .recommendations__list li:nth-child(2) {
  order: 2;
  }
  .recommendations__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
    width: 33%;
    align-items:center;
  }
  .recommendations__block {
    text-align: center;
    padding-right: 10px;
  }
  .recommendations__color {
    width: 80px;
    height: 80px;
  }
  .recommendations__description {
    width: 160px;
  }
  .benefits__list {
    display: flex;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .benefits__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
   align-content: center;
    border: none;
  }
  .benefits__headline {
    max-width: 100px;
  }

  .benefits__description {
    max-width: 290px;
  }
}
@media  (min-width: 1200px)  {
  .benefit__image--first  {
    background-image: url("../img/main-city-desktop@1x.jpg");
    min-width: 800px;
    min-height: 260px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-city-desktop@2x.jpg");
      background-size: 1600px auto;
    }
  }
  .benefit__image--second {
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    min-width: 800px;
    min-height: 257px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
      background-size: 1600px auto;
    }
  }
}
