.photo-cards__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photo-cards__image {
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 280px;
}
.photo-cards__wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-left: auto;
  border-bottom: 1px solid #e5e5e5;
  width: 280px;
  margin: 0 auto;
}
.photo-cards__description {
  width: 100%;
}
.photo-cards__list li:first-child {
  padding-top: 25px;
  border-top: 1px solid #e5e5e5;
}
.photo-cards__title {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
}
.photo-cards__author {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}
.photo-cards__like{
  margin-top: 5px;
  font-weight: bold;
  vertical-align: middle;
}
.photo-cards__icon {
  margin-right: 11px;
  text-decoration: none;
}
@media  (min-width: 768px) {
  .photo-cards__image{
    height: 267px;
  }
  .photo-cards__wrapper {
    border: none;
    width: 324px;
  }
  .photo-cards__wrapper--first {
    border: none;
    width: 648px;
  }
  .photo-cards__image--first {
    height: 320px;
  }
  .photo-cards__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }
  .photo-cards__wrapper {
    margin: 0;
    padding: 0;
    margin-right: auto;
  }
  .photo-cards__description {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
  }
  .photo-cards__title, .photo-cards__author {
    padding-left: 20px;
  }
  .photo-cards__like {
    float: right;
    margin: 0;
    margin-top: -45px;
    margin-right: 20px;
  }
  .photo-cards__list li:first-child {
    width: 648px;
    height: 400px;
  }
}
@media  (min-width: 1200px)  {
  .photo-cards__wrapper {
    width: 400px;
  }
  .photo-cards__list {
    width: 1200px;
  }
  .photo-cards__image--first {
    height: 400px;
  }
  .photo-cards__list li:first-child {
    width: 1200px;
  }
  .photo-cards__description {
    margin-top: -82px;
    background-color: rgba(0,0,0,0.34);
    color: #ffffff;
  }
}
